<!DOCTYPE HTML>
<html>
  <head>
    <!-- Main -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Server - Stats</title>
        <noscript>Sorry, your browser does not support JavaScript or you don't have javascript enabled!</noscript>
        <meta name="description" content="Luis' Image Server">
        <meta name="keywords" content="images">
      <!-- Apple -->
        <meta name="author" content="Luis">
      <!-- Opend Graph-->
        <meta property="og:title" content="Image Server - Stats">
        <meta property="og:description" content="Luis' Image Server">  
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

        :root {
          --background_colour: white;
          --text_colour: black;
          --button_hover: #adadad;
          --divs_colour: #c4c4c4;
          --filter: none;
        }

        body {
          background: var(--background_colour);

          transition: all 0.2s;
        }
        h1 {
          font-family: 'Roboto Slab', serif;
          font-size: 30px;
        }
        a, h1, path, svg {
          color: var(--text_colour);
        }
        path {
          filter: var(--filter);
        }
      </style>
  </head>
  <body>
    <h1>Stats</h1>
  </body>
</html>